* {
  word-wrap: break-word !important;
}

:root {
  --primary-color: #571111;
  --primary-color-rgb: 87, 17, 17;
  --secondary-color: #6c757d;
  --background-dark-color: #10121A;
  --background-dark-grey: #191D2B;
  --border-color: #2e344e;
  --background-light-color: #F1F1F1;
  --background-light-color-2: rgba(3, 127, 255, 0.3);
  --white-color: #FFF;
  --font-light-color: #ffffff;
  --font-dark-color: #313131;
  --font-dark-color-2: #151515;
  --sidebar-dark-color: #191D2B;
}

.App {
  padding: 0;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--primary-color);
  margin-top: 0;
  padding: 30px;
}

.page-blur-background {
  background-color: rgba(var(--primary-color-rgb), 0.2);
  padding-bottom: 10px;
  border-radius: 10px;
}

.subtitle {
  color: var(--primary-color);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5px;
}

.form-control-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: var(--primary-color) dashed 1px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.form-control-label {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: var(--primary-color) solid 1px;
  border-radius: 5px;
}

.form-control:focus {
  border: var(--primary-color) solid 2px !important;
  box-shadow: 0 0 10px var(--primary-color) !important;
  outline: 0 none !important;
}

.contents-container {
  margin: 20px;
  margin-left: 0px !important;
  max-width: 100% !important;
}

.general-button {
  background-color: var(--primary-color) !important;
  color: var(--font-light-color) !important;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-short {
  margin-top: 2px;
  margin-bottom: 5px;
}

.general-button:hover {
  background-color: var(--secondary-color) !important;
  color: var(--font-light-color) !important;
}

.color-picker {
  margin: auto;
  max-width: 100%;
}

.loading {
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.loading-spinner {
  margin: auto;
  margin-top: 20px;
}